.modeToggle {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 20px;
}

.modeToggle button {
    background-color: transparent;
    border: none;
}

.modeIcon {
    color: white
}

.modeIcon:hover {
    color: rgb(230, 150, 150)
}