.centertext {
    text-align: center;
}

.textwrapper {
    width: 70%;
    align-self: center;
    align-content: center;
    margin-left: 20%;
    margin-top: 5%;
    margin-right: 20%!important;
}

.filltext {
    text-align: left !important;
}