.formWidth {
    width: 80%;
}

.formlabel {
    text-align: left !important;
    align-self: flex-start;
}

.formAlign {
    width: 80% !important;
    align-self: center !important;
    align-content: center !important;
}